{
  "approvedDirectories": [
    "{{ .chezmoi.homeDir }}",
    "{{ .chezmoi.homeDir }}/Desktop/coding/projects/newbetaball",
    "{{ .chezmoi.homeDir }}/projects/newbetaball"
  ],
  "darkThemeId": "flexoki-dark",
  "homeDirectory": "{{ .chezmoi.homeDir }}",
  "lastDirectory": "{{ .chezmoi.homeDir }}",
  "lightThemeId": "flexoki-light",
  "pinnedDirectories": [],
  "projects": [
    {
      "id": "a7a5816e-adda-422b-9d7e-d8dd2d13924e",
      "path": "{{ .chezmoi.homeDir }}",
      "addedAt": 1770152703142,
      "lastOpenedAt": 1770152703142
    }
  ],
  "securityScopedBookmarks": [],
  "themeId": "flexoki-dark",
  "themeVariant": "dark",
  "useSystemTheme": true,
  "activeProjectId": "a7a5816e-adda-422b-9d7e-d8dd2d13924e"
}