#!/bin/bash
source "$CONFIG_DIR/colors.sh" # Loads all defined colors

TODAY=$(date +%Y-%m-%d)
DATA=$(curl -s -X GET https://api.todoist.com/rest/v2/tasks -H "Authorization: Bearer {{ onepasswordRead "op://Developer/todoist-api-token/credential" }}" | jq --arg today "$TODAY" '[.[] | select(.due.date == $today)] | length')

if [[ $DATA -eq 0 ]]; then
	COLOR=$GREEN
else
	COLOR=$RED
fi

sketchybar --set todos \
	label.drawing=on \
	label=$DATA \
	icon.color=$COLOR
